{% extends 'base.html' %}

{% block title %}
<title>Leaderboard</title>
{% endblock title %}

{% block content %}
<div class="row">
<h1> Leaderboard </h1>
</div> <br>
<div class="row">


{% if top3.2 %}
<div class="col-sm-4">
  <div class="leaderboard-card">
      <div class="leaderboard-card__top">
          <h4 class="text-center">Bronze</h4>
      </div>
      <div class="leaderboard-card__body" >
          <div class="text-center">                
              <img src="../../static/images/bronzeMedal.png" alt="Medal" style="width:48px;height:48px;border-radius:27px;">
              <h5 class="mb-0">{{ top3.2.user.first_name }} {{ top3.2.user.last_name}}</h5>
              <p class="text-muted mb-0">{{ top3.2.points }}</p>
          </div>
      </div>
  </div>
</div>
{% endif %}

{% if top3.0 %}
<div class="col-sm-4">
  <div class="leaderboard-card">
      <div class="leaderboard-card__top">
          <h4 class="text-center">Gold</h4>
      </div>
      <div class="leaderboard-card__body" >
          <div class="text-center">                
              <img src="../../static/images/goldMedal.png" alt="Medal" style="width:48px;height:48px;border-radius:27px;">
              <h5 class="mb-0">{{ top3.0.user.first_name }} {{ top3.0.user.last_name}}</h5>
              <p class="text-muted mb-0">{{ top3.0.points }}</p>
          </div>
      </div>
  </div>
</div>
{% endif %}
{% if top3.1 %}
<div class="col-sm-4">
  <div class="leaderboard-card">
      <div class="leaderboard-card__top">
          <h4 class="text-center">Silver</h4>
      </div>
      <div class="leaderboard-card__body" >
          <div class="text-center">                
              <img src="../../static/images/silverMedal.png" alt="Medal" style="width:48px;height:48px;border-radius:27px;">
              <h5 class="mb-0">{{ top3.1.user.first_name }} {{ top3.1.user.last_name }}</h5>
              <p class="text-muted mb-0">{{ top3.1.points }}</p>
          </div>
      </div>
  </div>
</div>
{% endif %}

</div> <br>

<div class="row">
  {# Two buttons for filter options. Currently we only have "friends" and "global" #}
  <div class="col text-center">
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-secondary active">
        <input type="radio" name="options" id="leaderboard-filter-friends" autocomplete="off" checked> Friends
      </label>
      <label class="btn btn-secondary">
        <input type="radio" name="options" id="leaderboard-filter-global" autocomplete="off"> Global
      </label>
    </div>
  </div>
</div> <br>
  
{# Beginning of leaderboard table #}
<table class="table bg-white">
  <thead class="thead-dark">
    <tr>
      <th class="text-center" style="width: 5%%;" scope="col">#</th>
      <th style="width: 80%;" scope="col">Name</th>
      <th class="text-center" style="width: 15%;" scope="col">Points</th>
    </tr>
  </thead>
  <tbody id="leaderboard-tbody">
    {% include 'exercise_app/leaderboard_table.html' %}
  </tbody>
</table>
{# End of leaderboard table #}
{% endblock content %}

{% block js %}
<script>
  $(function () {
    $('#leaderboard-tbody').html('').load("{% url 'exercise_app:get_leaderboard' %}?filter=friends");
  });

  $('#leaderboard-filter-friends').click(function () {
    $('#leaderboard-tbody').html('').load("{% url 'exercise_app:get_leaderboard' %}?filter=friends");
  });

  $('#leaderboard-filter-global').click(function () {
    $('#leaderboard-tbody').html('').load("{% url 'exercise_app:get_leaderboard' %}?filter=global");
  });
</script>
{% endblock js %}

{% block style %}
<style> 
body {
	background: #f9f9f9;
}
.leaderboard-card {
	background: #fff;
	margin-bottom: 30px;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.leaderboard-card__top {
	background: #f9f6ff;
	padding: 20px 0 30px 0;
}
.leaderboard-card__body {
	padding: 15px;
	margin-top: -40px;
}
.table {
	border-spacing: 0 15px;
	border-collapse: separate;
}
.table thead tr th,
.table thead tr td,
.table tbody tr th,
.table tbody tr td {
	vertical-align: middle;
	border: none;
}
.table thead tr th:nth-last-child(1),
.table thead tr td:nth-last-child(1),
.table tbody tr th:nth-last-child(1),
.table tbody tr td:nth-last-child(1) {
	text-align: center;
}
.table tbody tr {
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}
.table tbody tr td {
	background: #fff;
}
.table tbody tr td:nth-child(1) {
	border-radius: 5px 0 0 5px;
}
.table tbody tr td:nth-last-child(1) {
	border-radius: 0 5px 5px 0;
}
</style>
{% endblock style %}
